        body {
        background-image: linear-gradient(135deg, rgba(225, 231, 225, 0.7), rgba(227, 233, 227, 0.7)), 
                  url('../images/search_background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 30px;
            text-align: center;
        }
        .search-container {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        input[type="text"] {
            width: 80%;
            padding: 10px;
            border: 2px solid #4CAF50;
            border-radius: 6px;
            font-size: 16px;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #388e3c;
        }
        .results {
            margin-top: 20px;
        }
   